@charset "UTF-8";

/*全体*/
body{
	background: #F1F1F1;
	font-family: "Yu Gothic Medium", "游ゴシック Medium";
}

/*タイトル*/
.h1{
	font-size: 2.0rem;
	margin: 3.05rem;
	text-align: center;
}

/*内枠*/
.table{
	background-color: #ECECEC;
	border: solid 0.05em #BABFC3;
	border-radius: 0.3em;
	margin: auto;
	padding: 1.0em;
	
    -moz-box-shadow: 0 0 0.3rem rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.4);
    
	font-size: 1.0rem;
}

/*テキストボックス*/
input[type="text"] {
	/*枠*/
	border: solid 0.05em #B5B5B6;
	margin: 0.5rem; /*間隔*/
	padding: 0.2em; /*スケール*/
	width: 20.0rem; /*幅*/
	/*角丸*/
	-webkit-border-radius: 0.2rem;
	-moz-border-radius: 0.2rem;
	border-radius: 0.2rem;
	/*影*/
	moz-box-shadow: inset 0 0 0.3rem rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 0 0.3rem rgba(0, 0, 0, 0.2);
	box-shadow: inner 0 0 0.3rem rgba(0, 0, 0, 0.2);
	/*文字*/
	color:　#000000;
	font-size: 1.0rem;
}

/*テキスト と ボックス の間隔*/
.table-td{
	width: 5.0rem;
}

/*次へ・登録・確定ボタン*/
.button{
	background: #F8F8F8;
	border: solid 0.05em #9D9C9C;
	margin: 1.0rem auto;
	padding: 0.5em 1em;
	
	-webkit-border-radius: 0.3rem;
	-moz-border-radius: 0.3rem;
	border-radius: 0.3rem;
	
	-moz-box-shadow: 0 0 0.3rem rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.4);
	
	color: #000000;
	font-family: "Yu Gothic Medium", "游ゴシック Medium";
	font-size: 1.0rem;
	font-weight: bold;
	
	cursor: pointer;
}

.confirm{
	color: #FF0000; 
	font-size: 1.5rem;
	text-align: center;
}