<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>教室予約システム</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
</header>
<div class="main-wrapper">
<section>
	<h1 class="h1">教室予約システム</h1>
	<ul class="nav">
		<li><a href="search_students/subjects">1_生徒の受講科目入力</a></li>
		<li><a href="search?page=works">2_講師の出勤日時入力</a></li>
			<li><a>3_アカウント管理</a>
				<ul>
					<li><a>生徒</a>			
						<ul>
							<li><a href="students">登録</a></li>
							<li><a href="search_students">変更と削除</a></li>
						</ul>
					</li>
					<li><a>講師</a>			
						<ul>
							<li><a href="lectures">登録</a></li>
							<li><a href="search_lectures">変更と削除</a></li>
						</ul>
					</li>
				</ul>
			</li>
		<li><a href="search_students/schedule">4_時間割の表示と印刷</a></li>
	</ul>
		<div class="content">
		<p>1番で生徒の希望している科目を入力して下さい</p>
		<p>2番で講師の希望している出勤日時を入力して下さい</p>
		<p>3番で生徒と講師の情報を登録編集することができます</p>
		<p>4番で時間割の表示と印刷を行います</p>
		</div>
</section>
</div><!-- /.main-wrapper -->


</body>
</html>