<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>講師のアカウント登録画面</title>
		<link rel="stylesheet" type="text/css" href="/css/lectures.css" th:href="@{/css/lectures.css}"/>
	</head>
	<body>
		<div class="main">
			<form th:action="@{/lectures}" th:object="${lectureForm}" method="post">
			<h1 class="h1">講師のアカウント登録画面</h1>
			<p class="confirm">以下の内容で登録します。よろしければ「登録」ボタンを押してください。</p>
		<div>
			<table class="table">
				<tr><td class="table-td">名前:</td><td><input type="text" th:field="*{name}"></td></tr>
				<tr><td class="table-td">電話番号:</td><td><input type="text" th:field="*{phone}"/></td></tr>
				<tr><td class="table-td">住所：</td><td><input type="text" th:field="*{address}"/></td></tr>
				<tr><td>担当科目:</td>
					<td>
						<input type="checkbox" th:if= "${lectureForm.subject[0].equals('0')}"checked>国語
						<input type="checkbox" th:if= "${lectureForm.subject[1].equals('1')}"checked>算数
						<input type="checkbox" th:if= "${lectureForm.subject[2].equals('2')}"checked>理科
						<input type="checkbox" th:if= "${lectureForm.subject[3].equals('3')}"checked>社会
						<input type="checkbox" th:if= "${lectureForm.subject[4].equals('4')}"checked>英語
						<input type="checkbox" th:if= "${lectureForm.subject[5].equals('5')}"checked>情報
					</td>
				</tr>
			</table>
		</div>
		<div style="text-align: center;">
			<button type="submit" class="button">登録</button>
		</div>
		</form>
		</div>
	</body>
</html>